* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

a:hover,
a:active {
	text-decoration: none;
}

h1,
h4 {
	font-family: 'PT Sans Narrow' Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

p {
	font-size: 15px;
	line-height: 21px;
}

.btn {
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar-transparent {
	background-color: transparent;
	padding-top:15px;
}

.navbar-transparent .navbar-nav > li > a {
	color: #fff !important;
	font-weight: 700;
	opacity: 0.5;
	text-transform: uppercase;
}

.navbar-transparent .navbar-nav > li > a:hover {
	opacity: 1;
	background-color: transparent;
}

.navbar-transparent .navbar-brand {
	color: #fff !important;
	font-weight: 700;
	opacity: 0.7;
	font-size: 25px;
}

.navbar-transparent .navbar-brand:hover {
	opacity: 1;
	color:#fff !important;
}

.navbar-default {
	background-color: #333 !important;
	border-color: #333 !important;
	/*padding-top:15px;
	padding-bottom:15px;*/
}

.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover {
	opacity: 1;
	color:#fff !important;
}

.navbar-default .navbar-brand {
	font-weight: 700;
	font-size: 25px;
}

.navbar-default .navbar-brand:hover {
	opacity: 1;
	color:#fff !important;
}

/*HEADER*/

.header {
	background-image: url(../images/image1-big.jpg);
	height: 100%;
	padding-top:50px;
	min-height: 679px;
	background-size: contain;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	/*background: url('../images/image2-small.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	height:800px;*/
	/*min-height: 679px;*/
}

.cd-headline.rotate-1 .cd-words-wrapper {
    display: inline-block;
    perspective: 300px;
}

.cd-headline.rotate-1 {
	color:#fff;
	font-weight: 600;
	position: absolute;
	left:40%;
  	top:50%;
  	text-align: center;
  	box-sizing: border-box;
  	vertical-align: middle;
}

.cd-headline.rotate-1 b {
  color:#fff;
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  top: 50%;
  text-align: center;
}

.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}

@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
 
@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}

/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.cd-headline.rotate-1 {
		color:#fff;
		font-weight: 600;
		position: absolute;
		left:20%;
	  	top: 50%;
	  	text-align: center;
	  	box-sizing: border-box;
	  	vertical-align: middle;
	}
}
*/
/*INTRODUCTION*/

.sub-section {
	background: rgb(229, 227, 235);
	padding:40px;
	text-align:center;

	
}

.sub-section p {
	font-size: 25px;
	font-family: "Lato", sans-serif;
	font-weight:300;
	line-height: 1.8em;
	color:#666;
}

/* TIMELINE */

.timeline {
	background-image: url(../images/image2-small.jpg);
	min-height:400px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	font-size: 18px;
	padding-bottom:93px;
}

.timeline h2 {
	margin: 30px;
	text-align: center;
}

.timeline ul {
	margin-bottom: 0px;
	padding-right: 20px;
}
.timeline li {
	padding: 5px;
	font-family:'Open Sans', sans-serif !important;
	font-size:18px;
}


/*STATS*/

.stats {
	background: rgb(229, 227, 235);
	padding:40px;
}

.number {
	text-align: center;
	font-size: 45px;
	font-weight: 500;
	display:block;
}

.stat-div h5 {
	font-weight:500;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	margin-top: 10px;
}

/*PROJECTS*/

.projects {
	padding-bottom: 82px;
}

.projects h2 {
	padding:20px 12px;
}

.project-tile {
	width:400px;
	height:260px;
	display:inline-block;
	position:relative;
}

.project-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-tile:hover .project-image {
  opacity: 0.3;
}

.project-tile:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(229, 227, 235);
  color:#666;
  font-size: 16px;
  font-weight: 500;
  font-family:'Open Sans', sans-serif;;
  padding: 16px 32px;
}

/*LETS BUILD TOGETHER*/

.build-together {
	background-image: url(../images/image3.jpg);
	min-height:400px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	position:relative;
}

.build-together p {
	box-sizing: border-box;
	display: block;
	letter-spacing: -2.4px;
	line-height: 47.61px;
	font-size: 41.4px;
	font-weight: 300;
	text-align: center;
	color:#fff;
	font-family:'Open Sans', sans-serif;
	top:50%;
	left:50%;
	position:absolute;
	transform: translateX(-50%) translateY(-50%);
}


/*FORM*/

form {
	padding-bottom: 20px;
}

.form-group h2 {
	box-sizing: border-box;
	display: block;
	letter-spacing: -2.4px;
	line-height: 47.61px;
	font-size: 41.4px;
	font-weight: 300;
	text-align: center;
	font-family:'Open Sans', sans-serif;
	margin-top: 50px;
}

.form-group p {
	text-align: center;
	box-sizing: border-box;
	display: block;
	color: rgb(127, 140, 141);
	line-height: 27px;
	font-size: 18px;
	font-family:'Open Sans', sans-serif;

}

.form-control {
	margin:20px 0px;
	padding-bottom: 50px;
}


/*FOOTER*/

.footer {
	padding-top: 50px;
	background-color:#333;
	text-align:center;

}

.footer-section {
	padding-bottom:20px;
}

.footer a {
	color: #fff !important;
	font-size: 40px;
	padding:10px;
	opacity: 0.5;

}

.footer a:hover {
	opacity: 1;
	text-decoration: none;
}

.footer p {
	color:#fff !important;
	font-weight: 400;
	opacity:0.5;
	padding-top: 20px;
}

.footer p:hover {
	opacity:.7;
}

/*Mobile Styles*/
@media only screen and (max-width: 400px) {
	.icon-bar {
		color:#DDD;
	}

	.header {
		background:url(../images/image1-800.jpg);
		background-size: contain;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		height:100%;
	}
	.cd-intro h1 {
		font-size:15px;
	}
	.cd-intro .cd-headline.rotate-1 {
		left:35%;
	}

	.sub-section p {
		font-size:15px;
	}

	.timeline li {
		padding-top: 20px;
		padding-left:30px;
	}

	.stat-div {
		padding-bottom:25px;
	}

	.projects h2 {
		text-align: center;
	}
	.project-tile {
		margin-left:-15px;
		margin-top:25px;
		width:300px;
	}
	.build-together p {
		font-size:20px;
	}
}


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	/*.header {
		background:url(../images/image2-small.jpg)
	}*/
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.header {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(../images/image1-small.jpg);
  }
}